{% extends 'main.html' %}

{% block content %}

<h1>Books </h1>
<table>
    <tr>
        <th>Book</th>
        <th>Votes</th>
        <th>Ratio</th>
        <th>Create Time</th>
        <th></th>
        <th></th>
    </tr>
    {% for book in books %}
        <tr>
            <td>{{book.title}}</td>
            <td>{{book.vote_total}}</td>
            <td>{{book.vote_ratio}}</td>
            <td>{{book.created}}</td>
            <td><a href="{% url 'update-book' book.id %}">Edit</a></td>
            <td><a href="{% url 'delete-book' book.id %}">Delete</a></td>
            <td><a href="{% url 'project' book.id %}">View</a></td>
        </tr>
    {% endfor %}

</table>
{% endblock content %}
